* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 95px;
    background-color: #1c1c1c;
    padding: 24px;
}

.topbar .sidebar .logo img {
    width: 130px;
    border-radius: 8px;
}

.topbar .headingpanel {
    position: fixed;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    top: 0;
    left: 180px;
    right: 0;
    padding: 14px 5px;
    height: 95px;
}

.topbar .headingpanel h1 {
    color: #7bf29a;
    font-size: 75px;
    font-weight: bold;
    margin-left: 350px;
}

.login-container {
    align-items: center;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 16px;
    border-color: #ffffff;
    margin-top: 200px;
    max-width: 600px;
    height: 300px;
    width: 100%;
}
.login-container h1 {
    text-align: center;
    color: #7bf29a;
    font-size: 45px;
}

.login-container form {
    margin-top: 20px;
}

.login-container .form-group {
    margin-bottom: 20px;
}


.login-container .form-group label {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.login-container .form-group input[type="text"],
.login-container .form-group input[type="password"] {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-family: "Anta", sans-serif;
}


.login-container .action-group button {
    background-color: #7bf29a;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.login-container .action-group button:hover,
.login-container .action-group button:active,
.login-container .action-group button:focus {
    color: #ffffff;
}

.login-container .action-group ul {
    list-style: none;
}

.login-container .action-group ul li {
    padding-bottom: 5px;
    display: inline-block;
}

.login-container .action-group ul li a {
    color: #7bf29a;
    text-decoration: underline;
    font-weight: 500;
    font-size: 10px;
}

.login-container .action-group il li a:hover,
.login-container .action-group il li a:active,
.login-container .action-group il li a:focus {
    color: #b3b3b3;
    font-size: 12px;
}

.login-container .action-group ul li .fa {
    font-size: 6px;
    margin-left: 5px;
    margin-right: 5px;
    color: #7bf29a;
}