<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Song Savvy</title>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./login_style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_style.css') }}">
</head>
<body>

    <div class="topbar">
        <div class="sidebar">
            <div class="logo">
                <a href="./testing.html">
                    <!-- <img src="./img/logo.png" alt="Logo"> -->
                    <img src="{{url_for('static', filename='logo.png')}}" alt="Logo">
                </a>
            </div>
        </div>

        <div class="headingpanel">
            <center>
                <h1>Song Savvy</h1>
            </center>
        </div>
    </div>

    <center>
        <div class="login-container">
            <h1>LOGIN</h1>
            <!-- <br>
            <br> -->
            
            <form action="{{url_for('login')}}"method="get">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Your Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>

                <div class="action-group">
                    <button type="submit">Login</button>
                    <ul>
                        <li>
                            <a href="#">
                                Forgot Password?
                            </a>
                        </li>
                        <li class="divider">
                            <span class="fa fa-circle"></span>
                        </li>
                        <li>
                            <a href="#">
                                New? Create an Account
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </center>



    <script src="https://kit.fontawesome.com/6674ea7100.js" crossorigin="anonymous"></script>
    
</body>
</html>